.latest-main{
    height:200px;
    width:500px;
}
.latest-image{
    position:absolute;
    height:215px;
    width:550px;
    z-index:1;
}
.latest-text{
    position:relative;
    top:50px;
    z-index:2;
}
#line1{
    position:relative;
    top:50px;
    left:450px;
    font-family:'Roboto Condensed', sans-serif;
    color:rgb(54, 54, 54);
    margin-bottom:-10px;
    font-size:15px;
}
#line2{
    position:relative;
    top:45px;
    left:375px;
    font-family:'Roboto Condensed', sans-serif;
    color:rgb(39, 36, 36);
    font-size:25px;    
    padding-bottom:10px;
}
#line3{
    position:relative;
    top:50px;
    left:250px;
    font-family:'Roboto Condensed', sans-serif;
    color:rgb(39,36,36);
    font-size:25px;
}
#line11{
    position:relative;
    top:50px;
    left:10px;
    font-family:'Roboto Condensed', sans-serif;
    color:rgb(54, 54, 54);
    margin-bottom:-10px;
    font-size:15px;
}
#line22{
    position:relative;
    top:45px;
    left:10px;
    font-family:'Roboto Condensed', sans-serif;
    color:rgb(39, 36, 36);
    font-size:25px;    
    padding-bottom:10px;

}
#line33{
    position:relative;
    top:50px;
    left:10px;
    font-family:'Roboto Condensed', sans-serif;
    color:rgb(39,36,36);
    font-size:25px;
}