*{
    padding:0;
    margin:0;
}
.latest-image{
    z-index:1;
}
#line1{
    position:relative;
    bottom:125px;
    left:450px;
    font-family:'Roboto Condensed', sans-serif;
    color:rgb(54, 54, 54);
    font-size:15px;
    z-index:2;
}
#line2{
    position:relative;
    bottom:140px;
    left:375px;
    font-family:'Roboto Condensed', sans-serif;
    color:rgb(54, 54, 54);
    font-size:25px;
    z-index:2;
}
#line3{
    position:relative;
    bottom:150px;
    left:245px;
    font-family:'Roboto Condensed', sans-serif;
    color:rgb(54, 54, 54);
    font-size:25px;
    z-index:2;
}
#line11{
    position:relative;
    bottom:125px;
    left:5px;
    font-family:'Roboto Condensed', sans-serif;
    color:rgb(54, 54, 54);
    font-size:15px;
    z-index:2;
}
#line22{
    position:relative;
    bottom:140px;
    left:5px;
    font-family:'Roboto Condensed', sans-serif;
    color:rgb(54, 54, 54);
    font-size:25px;
    z-index:2;
}
#line33{
    position:relative;
    bottom:150px;
    left:5px;
    font-family:'Roboto Condensed', sans-serif;
    color:rgb(54, 54, 54);
    font-size:25px;
    z-index:2;
}