.item-container{
    height:329px;
    width:240px;
    margin-top:40px;
}
#item1{
    background-image: url('./assets/product-1.jpg');
}
#item1:hover{
    background-image: url('./assets/product-1b.jpg');
}
#item2{
    background-image: url('./assets/product-2.jpg');   
}
#item2:hover{
    background-image: url('./assets/product-2b.jpg');
}
#item3{
    background-image: url('./assets/product-3.jpg');
}
#item3:hover{
    background-image: url('./assets/product-3b.jpg');
}
#item4{
    background-image: url('./assets/product-4.jpg');
}
#item4:hover{
    background-image: url('./assets/product-4b.jpg');
}
#item5{
    background-image: url('./assets/product-5.jpg');   
}
#item5:hover{
    background-image: url('./assets/product-5b.jpg');
}
#item6{
    background-image: url('./assets/product-6.jpg');
}
#item6:hover{
    background-image: url('./assets/product-6b.jpg');
}

.item-caption{
   padding-top:300px;
   padding-left:20px;
}

.item-price{
    margin-top:20px;
    color:rgba(223, 18, 18, 0.815);
    font-family:'Roboto Condensed', sans-serif;
    font-size:20px;
    padding-left:20px;
}