*{
    padding:0px;
    margin:0px;
}
.latest-body{
    display:flex;
    justify-content: space-evenly;
    padding-bottom:10%;
}
#latest-second-body{
    position:absolute;
    padding-left:140px;
    z-index: 1;
}
.summer{
   position:relative;
   z-index: 2;
   top:20px;
   left:200px;
   width:300px;
   padding-bottom:50px;
   font-family:'Roboto Condensed', sans-serif;
    color:rgb(39, 36, 36);
    font-size:25px;
}
.item-heading{
    margin-top:100px;
    display:flex;
}
.new-arrival{
    position:absolute;
    padding-left: 90px;
    font-size:40px;
    z-index:2;
    font-family:'Roboto Condensed', sans-serif;
    color:rgb(39, 36, 36);
}
.season{
    position:relative;
    left:250px;
    bottom:15px;
    z-index:1;
    font-size:60px;
    font-family:'Roboto Condensed', sans-serif;
    color:rgb(177, 173, 173);
}
#usefeature{
    padding-bottom:30px;
}
.main-div{
    margin:auto;
    width:fit-content;
}
