*{
    padding:0px;
    margin:0px;
}
.latest-body{
    display:flex;
    justify-content:space-evenly;
    padding-bottom:75px;
    height:225px;
    max-width:1320px;
    margin:auto;
}
.container{
    max-width:1320px;
    margin:auto;
    height:175px;
}
#latest-second-body{
    display:flex;
    justify-content: space-evenly;
    z-index:1;
}
.summer{
   position:relative;
   display:inline;
   left:150px;
   bottom:80px;
   z-index:2;
   font-family:'Roboto Condensed', sans-serif;
   color:rgb(39, 36, 36);
   font-size:25px;
}
.item-heading{
    padding-top:50px;
    display:flex;
}
.new-arrival{
    position:absolute;
    padding-left: 90px;
    font-size:40px;
    z-index:2;
    font-family:'Roboto Condensed', sans-serif;
    color:rgb(39, 36, 36);
}
.season{
    position:relative;
    left:250px;
    bottom:15px;
    z-index:1;
    font-size:60px;
    font-family:'Roboto Condensed', sans-serif;
    color:rgb(177, 173, 173);
}
.feature{
    display:flex;
    justify-content: space-evenly;
    background-image: url("./assets-new/pattern.png");
}
#partner-logo{
   margin:auto;
   max-width:1320px;
}
.alignment{
    max-width:1320px;
    margin:auto;
}
.items{
    display:flex;
    justify-content:space-evenly;
}